.identity {
    text-align: left;
    margin: 70px 0;
}

.identity-aligned {
    list-style-type: none;
    float: left;
}

.identity__title {
    color: inherit;
    font-size: 5rem;
}

.identity__subtitle {
    font-size: 4.0rem;
}
