/***
Author: Maxwell Cofie
 */

// Adding Global Font
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,500;0,700;0,800;0,900;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
}

//Colors
$default-primary-text-color: #FFFFFF;
$default-secondary-text-color: #8E8E8E;
$default-background-color: #000000;


body {
  color: $default-primary-text-color;
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  background-color: $default-background-color;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Exo', sans-serif;
  font-weight: bolder;
}

