/*Global Properties*/

:root {
    --backgroundColorDark: #000000;
    --textColorDark: #FFFFFF;
    --backgroundColorLight: #FFFFFF;
    --textColorLight: #000000;
    --backgroundColorSepia: #E7E8CF;
    --textColorSepia: #373522;
    --backgroundColorBlue: #D8F2F1;
    --textColorBlue: #293739;
}


body {
    color: var(--textColorLight);
    background-color: var(--backgroundColorLight);
}

/*body {*/
/*    color: var(--textColorLight);*/
/*    background-color: var(--backgroundColorLight);*/
/*}*/

/*body {*/
/*    color: var(--textColorSepia);*/
/*    background-color: var(--backgroundColorSepia);*/
/*}*/

/*body {*/
/*    color: var(--textColorBlue);*/
/*    background-color: var(--backgroundColorBlue);*/
/*}*/
